<table class="table table-striped table-hover table-bordered table-content">
  <thead>
    <tr class="center-align">
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Country</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contactList" class="center-align">
      <td>{{ contact.id }}</td>
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.email }} </td>
      <td>{{ contact.phoneNumber }} </td>
      <td>{{ contact.address }} </td>
      <td>{{ contact.city }} </td>
      <td>{{ contact.state }} </td>
      <td>{{ contact.zipCode }} </td>
      <td>{{ contact.country }} </td>
      <td>{{ contact.notes }} </td>
      <td>
        <div style="display: flex; flex-direction: column; gap: 0.4rem;">
          <button class="btn-danger" (click)="onRemoveClick(contact.id)">Remove</button>
          <button class="btn-info" (click)="onSelectContactFromTable(contact)">Select</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<br />

<h2> Add or update contact</h2>
<div style="display: flex; flex-wrap: wrap; gap: 0.4rem; justify-content: center;">
  <form [formGroup]="contactForm" id="addContactForm"
        style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 0.5rem;">
    <label>
      First Name
      <input type="text" minlength="3" maxlength="70"
             title="Enter you first name" formControlName="firstName" placeholder="Jhon" required/>
    </label>

    <label>
      Last Name
      <input type="text" minlength="3" maxlength="70"
             title="Enter your last name" formControlName="lastName" placeholder="Doe" required/>
    </label>
    <label>
      Email
      <input type="email" minlength="3" maxlength="40" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
             title="Enter a valid email address with @" formControlName="email" placeholder="jhon.doe@company.com" required/>
    </label>
    <label>
      Phone Number
      <input type="text" minlength="11" maxlength="15" pattern="[0-9]{1,}[0-9]{3}[0-9]{3}[0-9]{4}"
             title="Enter a valid phone number with global code" formControlName="phoneNumber" placeholder="1 777 888 9999" required/>
    </label>
    <label>
      Address
      <input formControlName="address" placeholder="Address here"/>
    </label>
    <label>
      City
      <input formControlName="city" placeholder="City here"/>
    </label>
    <label>
      State
      <input formControlName="state" placeholder="State here"/>
    </label>
    <label>
      Zip Code
      <input formControlName="zipCode" placeholder="00000"/>
    </label>
    <label>
      Country
      <input formControlName="country" placeholder="Country here"/>
    </label>
    <label>
      Notes
      <input formControlName="notes" placeholder="Notes here"/>
    </label>
  </form>
  <button *ngIf="!isUpdating; else updateBtn" form="addContactForm" class="btn-success" (click)="onAddClick()" style="width: 5rem;">Add</button>
  <ng-template #updateBtn>
    <button form="addContactForm" class="btn-warning" (click)="onUpdateClick()" style="width: 5rem;">Update</button>
  </ng-template>
</div>
<br />
<hr />
<br />
<div style="display: flex; flex-direction: row; gap: 1rem;">
  <div style="display: flex; flex-direction: column; gap: 0.4rem;">
    <label>
      Search by Id
      <input type="number" id="search" (change)="change($event)" />
    </label>
    <button class="btn-info" (click)="onGetByIdClick(contactId)" name="search"> Search</button>
  </div>
</div>
